[submodule "developer"]
	path = developer
	url = https://github.com/smol-ai/developer.git
[submodule "babyagi"]
	path = babyagi
	url = https://github.com/yoheinakajima/babyagi.git
[submodule "SMOL_AI"]
	path = SMOL_AI
	url = https://github.com/EGAdams/SMOL_AI.git
[submodule "aider"]
	path = aider
	url = https://github.com/paul-gauthier/aider.git
[submodule "langchain"]
	path = langchain
	url = https://github.com/EGAdams/langchain.git
[submodule "project-management"]
	path = project-management
	url = https://github.com/EGAdams/project-management.git
