system_info/node_modules
system_info/filesystemapp-win32-x64
ftp_logs
*.pyc
conf.txt
.env
clean_all_but_admin.sh
clean_keep_users_conversatons.sh
agents/key_openai.txt
agents/key_pinecone.txt
agents/clear_pincone_database.py
agents/nexus
agents/gpt3_logs
gpt3_logs
node_modules
pinecone_chat_dave_s/key_openai.txt
project-management
workspace/
temp_action.md
temp_design_prompt.md
write_code_prompt.md
write_tasks_prompt.md
logs/log.txt
workspace/AirplaneSpeedometerGauge/requirements.txt
